<app-header [breadcrumb]="breadcrumb"></app-header>

<div class="row justify-content-center content">
  <div class="col-12 col-md-10 col-lg-8 p-0 m-0">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="form"> 
          <div class="row">
              <div class="col-md-12 mb-3">
                  <mat-form-field>
                    <mat-label>Thema</mat-label>
                    <input matInput type="text" formControlName="thema" />
                  </mat-form-field>
              </div>
              <div class="col-md-12 col-lg-4 mb-3">
                  <mat-form-field>
                    <mat-label>Monat</mat-label>
                    <input matInput type="text" formControlName="monat" />
                  </mat-form-field>
              </div>
              <div class="col-md-6 col-lg-4 mb-3">
                  <mat-form-field>
                    <mat-label>Erstellt am</mat-label>
                    <input matInput type="date" formControlName="erstellt" />
                  </mat-form-field>
              </div>
              <div class="col-md-6 col-lg-4 mb-3">
              <mat-form-field>
                <mat-label>Maximal auswählbar</mat-label>
                <mat-select formControlName="max">
                  @for (n of [1,2,3,4,5,6,7,8]; track n) {
                    <mat-option [value]="n">{{ n }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
              </div>
          </div>

          <mat-accordion multi>
            @for (bereich of bereichKeys(); track bereich) {
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title class="d-flex justify-content-between">
                    <div class="">
                      {{ bereich }}
                    </div>
                    <div class="">
                      {{ countInBereich(bereich) }}/{{ form.get('max')?.value }}
                    </div>
                  </mat-panel-title>
                </mat-expansion-panel-header>


                <mat-accordion multi>
                  @for (stufe of stufeKeys(bereich); track stufe) {
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>{{ stufe }}</mat-panel-title>
                      </mat-expansion-panel-header>

                      <div class="ziel-list">
                        @for (item of grouped()[bereich][stufe]; track item.Lernziel) {
                          <mat-checkbox
                            [checked]="isSelected(item)"
                            (change)="toggle(item, $event)">
                            {{ item.Lernziel }}
                          </mat-checkbox>
                        }
                      </div>
                    </mat-expansion-panel>
                  }
                </mat-accordion>
              </mat-expansion-panel>
            }
          </mat-accordion>

          <!-- <div class="row mt-3 justify-content-evenly">
              <button mat-raised-button class="col-5" color="primary" type="button" >Konfiguration speichern</button>
              <button mat-raised-button class="col-5" color="primary" type="button" >Konfiguration laden</button>
          </div> -->
          <div class="row mt-3 justify-content-evenly">
            <button mat-raised-button class="col-md-5 col-lg-2 " color="accent" type="button" (click)="ausdruckMappeErstellen(false)">A4 Anzeigen</button>
            <button mat-raised-button class="col-md-5 col-lg-2 " color="accent" type="button" (click)="ausdruckMappeErstellen(true)">A4 Download</button>
            <button mat-raised-button class="col-md-5 col-lg-2 " color="accent" type="button" (click)="ausdruckAushangErstellen(false)">A3 Anzeigen</button>
            <button mat-raised-button class="col-md-5 col-lg-2 " color="accent" type="button" (click)="ausdruckAushangErstellen(true)">A3 Download</button>
          </div>
        </form>   
      </mat-card-content>
    </mat-card>
  </div>
</div>
