<mat-toolbar>
  <img src="../assets/images/icon.svg" width="60" alt="Logo" routerLink="/start"/>
  <span class="ps-3 title" routerLink="/start">{{title}}</span>
  <span class="spacer"></span>
  <button mat-icon-button (click)="this.globalDataService.abmelden()">
    <mat-icon class="material-icons">logout</mat-icon>
  </button>
</mat-toolbar>

<div class="breadcrumb">
  @for (link of breadcrumb; track link) {
    <div>
      @if (link.active) {
        <button mat-raised-button color="primary" (click)="onClick(link.link)">{{link.kuerzel}}</button>
      } @else {
        <button mat-raised-button (click)="onClick(link.link)">{{link.kuerzel}}</button>
      }
    </div>
  }
</div>