<app-header [breadcrumb]="breadcrumb"></app-header>

<div class="row justify-content-center content">
  <h1 class="col-12 col-lg-6 justify-content-center">Hallo {{username}}!</h1>
</div>

<div class="row justify-content-center content">
  @if (rollen.includes('ADMIN') || rollen.includes('LOTUSPLAN')) {
    <div class="col-6 col-md-4 col-lg-4 col-xl-2 content-item link-card">
      <mat-card routerLink="/lotusplan">
        <mat-icon class="material-icons-outlined">dashboard</mat-icon>
        <mat-card-footer>Lotusplan</mat-card-footer>
      </mat-card>
    </div>
  }
  @if (rollen.includes('ADMIN')) {
    <div class="col-6 col-md-4 col-lg-4 col-xl-2 content-item link-card">
      <mat-card routerLink="/benutzer">
        <mat-icon class="material-icons-outlined">supervisor_account</mat-icon>
        <mat-card-footer>Benutzerverwaltung</mat-card-footer>
      </mat-card>
    </div>
    <div class="col-6 col-md-4 col-lg-4 col-xl-2 content-item link-card">
      <mat-card routerLink="/konfiguration">
        <mat-icon class="material-icons-outlined">settings</mat-icon>
        <mat-card-footer>Konfiguration</mat-card-footer>
      </mat-card>
    </div>
  }
</div>